.bg-dark{

    background-color: #2c3311 !important;
    color: white;
    
}

.title{
    background-image: url('../img/teamwork.jpg') !important;
}

.title p{
    font-size: 95px;
    color: white;
    font-weight: 200;
}
p{
    
    font-size: 32px;
}

h3{

}

.bg1{
    background-color: rgb(250, 240, 235) !important;
    color: #2c3311;
}

.bg2{
    background-color: rgb(197, 240, 40);  
    color: #2c3311;

}

iframe{
    width: 100%;
}