:root
{
    --bs-dark-rgb: 43, 51, 16;
    --bs-light-rgb: 250, 240, 235;
    --bs-secondary-rgb: 197, 240, 40;
    --bs-body-color: #2B3310;

}

.title{
    background-image: url('../img/teamwork.jpg') !important;
}

h1{
    font-size:90px;
}

p{

}

iframe{
    width: 100%;
}

@media only screen and (max-width:576px) {
    h1{
        font-size:50px;
    }
}